* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test{
height: 110px;
}
.header{
    position: fixed;
    width: 100%;
    background-color: white;

}
.header .container .logo-list{
    display: flex;
    gap: 90px;
    align-items: center;
}
.header .container {
display: flex;
padding: 45px;
justify-content: space-between;

align-items: center;

}

ul{
    list-style-type: none;
}

.header .list ul{
    display: flex;
    gap: 35px;
}
.search-form form{
    display: flex;
    border: 1px solid slategray;
    
}

.list a{
    text-decoration: none;
    color: #0D0E43;
    font-family: Lato;
    transition: 1.1s;
}
.header .list a:hover{
    color: blue;
    font-size: 18px;
    text-decoration: underline blue;

}

.container{
    width: 80%;
    margin: auto;

}
input{
    border: 0;
    width: 250px;
    padding-left:10px; 
    font-family: Lato;
    font-size: 16px;
   color: #8A8FB9;
   
}
button{
    border: 0;
    background-color:#FB2E86;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    font-family: Lato;
    color: #EEEFFB;
}
.header .container .list .Home{
    color: #FB2E86;
}
.header .container .list .Home:hover{
    color: blue;
}
.header .menu {
    display: none;
}


@media screen and (min-width:0) and (max-width:1019px) {
    .header .list,
    .header .search-form {
        display: none;
        
    }
   .header .menu {
        display: block;
    }
}
.row{
    display: flex;
     flex-wrap: wrap;
}
/*start footer*/
.footer .row {
    gap: 20px;
     
}
.footer{
  padding: 45px;
    
    
}
.footer .footer-right {
     display: flex;
    gap: 20px;
   
    
}
.footer .footer-left{
    width: calc( (100% - 20px) /2 );
}
.footer .footer-right{
    width: calc( (100% - 20px) /2 );
}
@media screen and (min-width:0) and (max-width:958px) {
   .footer .footer-left,
   .footer .footer-right {
        width: 100%;

    }
    
}
@media screen and (min-width:0) and (max-width:726px) {
    .footer .footer-right {
       flex-wrap: wrap;

    }
    
    .footer input{
        width: 160px;
    }
}
   
.footer ul{
     display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer .footer-iteam{
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.footer .footer-left{
     display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: flex-start;
    
}
.footer .search-info{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer a{
    color: #8A8FB9;
}
.footer h2{
    font-family: Josefin Sans;
    font-size: 22px;
}
.footer p{
    font-family: Lato;
    font-size: 16px;
    color: #8A8FB9;
}
.footer .search-form form{
    display: inline-flex; 
   border: 0;
   
    
}
    
 .footer button{
    padding: 10px 30px;
    background-color:#FB2E86;

}

/*end footer */
/*start Featured Products*/
.Featured-Products{
    padding: 50px 0;
}
.Featured-Products .container{
  display: flex;
  padding: 45px;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
  
    
.Product{
    width: calc((100% - 90px)/4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    box-shadow :0px 0px 10px  rgba(0, 0, 0, 0.08);
    text-align: center;
     justify-content: center;
    
}
.Featured-Products .pro-details{
     display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
     justify-content: center;
     padding: 10px 0;

}
.Featured-Products .pro-but{
   display: flex;
    gap: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;

    
}

.Featured-Products .pro-h{
   font-size: 42px;
   color: #AAAAAA;
   font-family: Josefin Sans;
    text-align: center;
}
.Featured-Products .Product h2{
    font-size: 18px;
    font-family: Lato;
    color: #FB2E86;
}
.Featured-Products .Product span{
    font-size: 14px;
    font-family: Josefin Sans;
    color: #151875;
}
.Featured-Products .pro-img{
    height: 200px;
    background-color: #F6F7FB;
    padding: 20px 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
    
    
}
.Featured-Products .pro-but button{
     width: 14px;
     height: 4;
     border-radius: 20px;
     
}
 
.Featured-Products .colar1 {
    background-color: #05E6B7;
}
.Featured-Products .pro-but .colar2{
    background-color: #F701A8;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.Featured-Products .colar3 {
    background-color: #FFEAC1;
}
.Featured-Products .pro-but .colar12 {
    background-color: #FB2E86;
    width: 24px;
   
}
.pro-but .colar22{
    background-color: #FEBAD7;
}


@media screen and (min-width:0) and (max-width:500px) {
  .Featured-Products .Product{
        width: 100%;
    }
    
.Featured-Products .pro-h{
    font-size: 20px;
}
}
@media screen and (min-width:501px) and (max-width:958px) {
   .Featured-Products .Product{
        width: calc((100% - 30px)/2);

    }
    .Featured-Products .pro-h{
    font-size: 27px;
}
}


/*end Featured Products*/
/*start background*/

.background {
    background-image: url('./image/bg.png');
    background-size: 100%;
    height: 50vh;
    background-repeat: no-repeat; 
    display: flex;
    text-align: center;
    
}
.background .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.background h2{
    font-family: Josefin Sans ;
    font-size: 35px;
    color: #151875;

}
.background button{
    padding:15px 40px ;
    font-family: Josefin Sans ;
    font-size: 17px;
}
@media screen and (min-width:0) and (max-width:500px) {
    .background h2{
        font-size: 17px;
    }
  .background button{
   padding:10px 20px ;
    font-size: 13px;
  }
  .background .container{
    gap: 10px;
  }
  .background{
    background-size: cover;
    background-position: center;
  }
 
}
@media screen and (min-width:501px) and (max-width:958px) {
    .background h2{
        font-size: 30px;
    }
    .background button{
   padding:10px 30px ;
    font-size: 13px;
  }
  .background .container{
    gap: 15px;
  }
  .background{
    background-size: cover;
    background-position: center;
  }
    
}

/*end background*/
/*start hero*/
.hero{
    background-color: #F2F0FF;
    padding: 50px 0;
}
.hero .container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero .hero-left{
    
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: column;
     gap: 30px;
      width: calc((100% - 15px)/2);
    
      
}
.hero .hero-right{
    width: calc((100% - 15px)/2);
       
}
.hero .hero-right img {
  width: 100%;
}
  


.hero h2{
    font-size: 50px;
    font-family: Josefin Sans ;
}
.hero p{
    font-family: lato;
}
.hero span{
    font-family: lato;
    color: #FB2E86;
}
.hero button{
   padding:15px 40px ;
    font-family: Josefin Sans ;
    font-size: 17px;
}
@media screen and (min-width:0) and (max-width:1080px) {
    .hero .container {
    flex-direction: column;
    
  }

  .hero .hero-left,
  .hero .hero-right {
    width: 100%;
}

}
@media screen and (min-width:0) and (max-width:500px) {
    .hero h2{
    font-size: 30px;
}
.hero button{
    padding:10px 30px ;
    font-size: 13px;
}

}
@media screen and (min-width:501px) and (max-width:1080px) {
.hero h2{
    font-size: 40px;
}

}
/*end hero*/
/*start leat...*/
.Leatest{
    padding: 50px 0;
}
.Leatest .container {
    display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.leatProduct{
    width: calc((100% - 60px)/3);
    display: flex;
    flex-direction: column;
    gap: 20px;
     
     
    
}
.leatProduct .leat-img{
    height: 250px;
   background-color: #F7F7F7;
   display: flex;
  align-items: center;
  justify-content: center;
    
}
.leatProduct .leatpro-details{
    
    display: flex;
    justify-content: space-between;
    

}
.Leatest .h-leat{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-bottom: 50px;
}
.Leatest .a-leat{
    display: flex;
    gap: 40px;
}
.Leatest span{
    
    font-family:Josefin Sans ;
    color: #151875;
}
.Leatest .span-calar{
    color:#FB2E86 ;
}
.Leatest h2{
    font-size: 42px;
    font-family:Josefin Sans ;
     color: #151875;

}
.Leatest a{
    text-decoration: none;
    color: #151875;
    font-family: Lato;
    transition: 1.1s;
}
.Leatest a:hover{
    color:#FB2E86;
    font-size: 18px;
    text-decoration: underline #FB2E86;

}
@media screen and (min-width:0) and (max-width:740px) {
 .leatProduct{
        width: 100%;
         
    }
.Leatest h2{
    font-size: 25px;
}
.Leatest a{
    font-size: 14px;
}
.Leatest .a-leat{
    gap: 15px;
}
}

@media screen and (min-width:741px) and (max-width:1080px) {
   .leatProduct{
        width: calc((100% - 30px)/2);

    }
    .Leatest h2{
    font-size: 27px;
}
}
/*end leat...*/
/*ShopexOffer*/
.ShopexOffer{
    padding: 50px 0;
}
.ShopexOffer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.ShopexOffer .Offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
    padding: 35px 35px 45px 35px; 
    box-shadow :0px 0px 10px  rgba(0, 0, 0, 0.08); 
}
.ShopexOffer p{
    text-align: center;
    color: rgba(26, 11, 91, 0.3);
    font-family: Lato;
}
.ShopexOffer h2{
    text-align: center;
    padding-bottom:30px ;
    font-family: Josefin Sans;
    color: #151875;
    font-size: 42px;

}
.ShopexOffer .offer-img{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ShopexOffer span{
    color: #151875;
    font-size: 27px;
    font-family: Josefin Sans;
}
@media screen and (min-width:741px) and (max-width:1080px) {
   .Offer{
        width: calc((100% - 30px)/2);
        
    }
    .ShopexOffer .container{
        flex-wrap: wrap;
    }
    .ShopexOffer h2{
    font-size: 34px;
}
}

@media screen and (min-width:0) and (max-width:740px) {
    .Offer{
        width: 100%;
        
    }
    .ShopexOffer .container{
        flex-wrap: wrap;
    }
   .ShopexOffer h2{
    font-size: 25px;
}
}
/*ShopexOffer*/
/*trendingproducts*/
.trendingpro {
    padding: 50px 0;
}
.trendingpro .container{
    display: flex;
    gap: 40px;
    justify-content: center;

}
.trendingpro .trend-pro{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow :0px 0px 10px  rgba(0, 0, 0, 0.08);
    padding-bottom: 20px;
    border: 11px solid #fff;
   

}
.trendingpro .trend-img{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #F5F6F8;   
}
.trendingpro .trend-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.trendingpro h2{
    text-align: center;
    padding-bottom:50px ;
    color: #151875;
    font-family: Josefin Sans ;
    font-size: 42px;


}
.trendingpro h3{
    color: #151875;
    font-family: Lato;

}
.trendingpro span{
    color: #151875;
    font-family: Josefin Sans ;
    font-size: 12px;
}
.trendingpro .tremd-span2{
    color: rgba(26, 11, 91, 0.3);
}
.trendingpro .trend-span{
    display: flex;
    gap:12px ;
}
@media screen and (min-width:741px) and (max-width:1080px) {
   .trend-pro{
        width: calc((100% - 40px)/2);
        
    }
    .trendingpro .container{
        flex-wrap: wrap;
    }

    .trendingpro h2{
    font-size: 34px;
}
}

@media screen and (min-width:0) and (max-width:740px) {
    .trend-pro{
        width: 100%;
        
    }
    .trendingpro .container{
        flex-wrap: wrap;
    }
   .trendingpro h2{
    font-size: 25px;
}
}
/*trendingproducts*/