* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:6000px;
}
.header{
    position: fixed;
    width: 100%;
    background-color: white;

}
.header .container .logo-list{
    display: flex;
    gap: 90px;
    align-items: center;
}
.header .container {
display: flex;
padding: 45px;
justify-content: space-between;

align-items: center;

}

ul{
    list-style-type: none;
}

.header .list ul{
    display: flex;
    gap: 35px;
}
.search-form form{
    display: flex;
    border: 1px solid slategray;
    
}

.list a{
    text-decoration: none;
    color: #0D0E43;
    font-family: Lato;
    transition: 1.1s;
}
.header .list a:hover{
    color: blue;
    font-size: 18px;
    text-decoration: underline blue;

}

.container{
    width: 80%;
    margin: auto;

}
input{
    border: 0;
    width: 250px;
    padding-left:10px; 
    font-family: Lato;
    font-size: 16px;
   color: #8A8FB9;
   
}
button{
    border: 0;
    background-color:#FB2E86;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    font-family: Lato;
    color: #EEEFFB;
}
.header .container .list .Home{
    color: #FB2E86;
}
.header .container .list .Home:hover{
    color: blue;
}
.header .menu {
    display: none;
}


@media screen and (min-width:0) and (max-width:1019px) {
    .header .list,
    .header .search-form {
        display: none;
    }
   .header .menu {
        display: block;
    }
}
.row{
    display: flex;
     flex-wrap: wrap;
}
/*start footer*/
.footer .row {
    gap: 20px;
     
}
.footer{
  padding: 45px;
    
    
}
.footer .footer-right {
     display: flex;
    gap: 20px;
    
}
.footer .footer-left{
    width: calc( (100% - 20px) /2 );
}
.footer .footer-right{
    width: calc( (100% - 20px) /2 );
}
@media screen and (min-width:0) and (max-width:958px) {
   .footer .footer-left,
   .footer .footer-right {
        width: 100%;

    }
    .footer .footer-right {
       flex-wrap: wrap;

    }
}
   
.footer ul{
     display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer .footer-iteam{
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.footer .footer-left{
     display: flex;
    gap: 35px;
    flex-direction: column;
    align-items: flex-start;
}
.footer .search-info{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.footer a{
    color: #8A8FB9;
}
.footer h2{
    font-family: Josefin Sans;
    font-size: 22px;
}
.footer p{
    font-family: Lato;
    font-size: 16px;
    color: #8A8FB9;
}
.footer .search-form form{
    display: inline-flex; 
   border: 0;
   
    
}
    
 .footer button{
    padding: 10px 30px;
    background-color:#FB2E86;

}

/*end footer */